<?xml version="1.0" encoding="UTF-8"?>
<SageTVPlugin>
  <Name>Metadata Tools for SageTV - Web Interface</Name>
  <Identifier>bmtweb</Identifier>
  <Description>Web Interface for Metadata Tools (bmt)</Description>
  <Screenshot><![CDATA[http://forums.sagetv.com/forums/attachment.php?attachmentid=9772&stc=1&d=1266629522]]></Screenshot>
  <Author>stuckless</Author>
  <CreationDate>2008.07.19</CreationDate>
  <ModificationDate>@@last-modified@@</ModificationDate>
  <Version>@@version@@</Version>
  <Desktop>false</Desktop>
  <ResourcePath>bmtweb</ResourcePath>
  <Webpage><![CDATA[http://forums.sagetv.com/forums/downloads.php?do=file&id=239]]></Webpage>

  <Dependency>
    <Plugin>Jetty</Plugin>
    <MinVersion>1.7</MinVersion>
  </Dependency>

  <Dependency>
    <Plugin>phoenix-core</Plugin>
    <MinVersion>2.0.5</MinVersion>
  </Dependency>

  <Dependency>
    <Plugin>bmt</Plugin>
    <MinVersion>4.2</MinVersion>
  </Dependency>

  <PluginType>Standard</PluginType>

  <Package>
    <PackageType>System</PackageType>
    <Location>http://customsagetv.googlecode.com/files/bmtweb-war-@@version@@.zip</Location>
    <MD5>@@war-checksum@@</MD5>
  </Package>

  <!-- context file must be installed after the war file -->
  <Package>
    <PackageType>System</PackageType>
    <Location>http://customsagetv.googlecode.com/files/bmtweb-context-@@version@@.zip</Location>
    <MD5>@@context-checksum@@</MD5>
  </Package>
  <ReleaseNotes>
4.2
* Fixed Folder scanning issue
* Added ability to change external id
* Added ability to change watched status
* Added ability to change archive flag for recorded shows

4.1
* Upgraded to use the Phoenix 2.0 metadata APIs
  </ReleaseNotes>
</SageTVPlugin>
