<?xml version="1.0" encoding="UTF-8"?>
<SageTVPlugin>
  <Name>SageTV API Extensions</Name>
  <Identifier>sagex-api</Identifier>
  <Description>A set of API wrappers, utilities, and remote API capabilities for SageTV</Description>
  <Author>stuckless</Author>
  <CreationDate>2008.10.05</CreationDate>
  <ModificationDate>@@last-modified@@</ModificationDate>
  <Version>@@version@@</Version>
  <Desktop>false</Desktop>
  <ResourcePath>sagex-api</ResourcePath>
  <Webpage><![CDATA[http://forums.sagetv.com/forums/showthread.php?t=36044]]></Webpage>

  <PluginType>Library</PluginType>

  <Package>
    <PackageType>JAR</PackageType>
    <Location>http://download.sage.tv/plugins/stuckless/sagex-api/sagex-api-jar.zip</Location>
    <MD5>@@jar-checksum@@</MD5>
  </Package>
</SageTVPlugin>
