/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.form-label {
	font-weight: bold;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.bmt-PrefPanelTitle, .StatusBox-Title {
  	font-size: 1.2em;
	font-weight: bold;
    margin-bottom: 10px;
  	color: #777777;
}

.StatusBox-Title {
  	font-size: 1.2em;
  	text-decoration: underline;
}

.warn {
	color: #E8691B;
}

.error {
	color: #CD1315;
}

.AppPanel-Header {
	background-image: url("gradient-back3.jpg");
	background-repeat: repeat-x;
}

.AppPanel-Header, .AppPanel-Header a, .AppPanel-Header a:link, .AppPanel-Header a:visited {
	background-color: transparent;
	color: white;
}


.AppPanel-Title {
  	font-size: 1.8em;
	font-weight: bold;
	color: white;
}

.Row-Even {
}

.Row-Odd {
	background-color: #F3F3F3;
}

.MediaItem {
	border-bottom: 1px solid black;
	cursor: pointer;
}

.MediaItem_hover {
	background-color: #F3F3F3;
}

.MediaItem_selected {
	background-color: #909090;
}

.MediaItem_updated {
	background-color: #03932A;
}

.MediaItem-PrimaryTitle {

}

.MediaItem-MinorTitle {
	font-size: smaller;
	font-style: italic;
}

.MissingImage {
	border: 3px solid black;
	background-color: #F3F3F3;
}

.Arrow {
	background:transparent url(listArrow.png) no-repeat scroll right center;
	color:inherit;
	display:block;
	background-color: black;
}

.HelpLabel-icon {
	cursor: pointer;
}

.HelpLabel-Property {
	font-weight: bold;
	padding-bottom: 10px;
}

.HelpLabel-HelpText {
	padding-bottom: 10px;
}

.App-Configure {
	background-image: url("images/16x16/applications-system.png");
	background-repeat: no-repeat;
	text-indent: 18px;
}
.App-Status {
	background-image: url("images/16x16/dialog-information.png");
	background-repeat: no-repeat;
	text-indent: 18px;
}
.App-Scan {
	background-image: url("images/16x16/system-search.png");
	background-repeat: no-repeat;
	text-indent: 18px;
}
.App-Browse {
	background-image: url("images/16x16/folder-saved-search.png");
	background-repeat: no-repeat;
	text-indent: 18px;
}
.App-Refresh {
	background-image: url("images/16x16/view-refresh.png");
	background-repeat: no-repeat;
	text-indent: 18px;
}

.ImagePopupLabel-label {
	cursor: pointer;
	text-decoration: underline;
}

.VideosSource-Deleted {
	text-decoration: line-through;
	color: red;
}

.VideoSource-Row td {
	border-bottom: 1px dotted black; 
}

.InfoPanel, .DataDialog-HeaderBox {
	xbackground-color: #EDEFF4;
	background-color: #FFF9D7;
	border-color: #E2C822;
	margin: 5 5 5 5;
	padding: 5 5 5 5;
	border: 2px solid #E2C822;
	-moz-border-radius: 7px;
    border-radius: 7px;
}

.ProgressPanel-Cancel {
	font-size: x-small;
	text-decoration: underline;
	color: black;
	font-style: italic;
}

.BrowsePanel {
}

.BrowsePanel .MediaItem {
	float: left;
	border: 1px solid black;
	width: 150px;
	height: 200px;
	min-height: 100px;
	min-width: 50px;
	margin: 10 10 10 10;
	padding: 5 5 5 5;
}

.MediaItem .MediaItem-Title1 {
	font-weight: bold;
}

.MediaItem .MediaItem-Title2 {
	font-style: italic;
	font-size: smaller;
}

.BrowsePanel .MediaFolder {
	background-color: #FFF9D7;
	xbackground-image: url("images/16x16/folder.png");
	xbackground-position: bottom left;
	xbackground-repeat: no-repeat;
}

.SideMenuItem {
	height: 30px;
	border-bottom: 1px solid black;
	cursor: pointer;
}

.hover {
	background-color: #F3F3F3;
}

.SideMenuItem-selected {
	background-color: #909090;
}

. SideMenuItem-Label {
}

.SideMenuPanel-Label {
	border-bottom: 1px solid black;
}

.SideMenuPanel-LabelText {
	font-size: larger;
	font-weight: bold;	
}

.HorizontalButtonBar {
	background-color: #F3F3F3;
	border-top: 1px solid black;
	border-bottom: 2px solid black;
}

