<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Batch Metadata Tools - Web Interface</display-name>
  <description>
		Web Interface for Batch Metadata Tools, commonly referred
		to as bmt. The web interface enables you to do edit metadata manually
		from a web browser. In addition to simple editing of metadata, bmt is
		build on the Phoenix APIs, and it provides a web interface to the
		Phoenix Views. ie, It allows you to browser your media collection from
		the web web browser. While browsing your collection you can also find
		metadata and fanart for a group of media files, or for a single item.
		
		BMT also provides a number of other batch tools for cleaning up metadata, or
		performing some common operations.  Some of these include; Exporting a
		.properties for some or all mediafiles; Cleaning up Genres; Setting the
		watched status on files, etc
  </description>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>BMTWeb.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>preferences</servlet-name>
    <servlet-class>org.jdna.bmt.web.server.PreferencesServiceImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>filechooser</servlet-name>
    <servlet-class>org.jdna.bmt.web.server.FileChooserServicesImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>phoenixconfig</servlet-name>
    <servlet-class>org.jdna.bmt.web.server.PhoenixConfigurationImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>status</servlet-name>
    <servlet-class>org.jdna.bmt.web.server.StatusServicesImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>browsing</servlet-name>
    <servlet-class>org.jdna.bmt.web.server.BrowsingServicesImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>databrowser</servlet-name>
    <servlet-class>org.jdna.bmt.web.server.DataBrowserServicesImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>sage</servlet-name>
    <servlet-class>org.jdna.bmt.web.server.SageServicesImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>media</servlet-name>
    <servlet-class>org.jdna.bmt.web.server.MediaHandlerServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>debug</servlet-name>
    <servlet-class>org.jdna.bmt.web.server.DebugServicesImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>global</servlet-name>
    <servlet-class>org.jdna.bmt.web.server.GlobalServicesImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>sageapi</servlet-name>
    <servlet-class>sagex.remote.SagexServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>view</servlet-name>
    <servlet-class>org.jdna.bmt.web.server.ViewServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>videothumbnail</servlet-name>
    <servlet-class>org.jdna.bmt.web.server.VideoThumbnailServlet</servlet-class>
  </servlet>
  
  
  <!-- JSON Services -->
  <servlet>
    <servlet-name>json</servlet-name>
    <display-name>json</display-name>
    <description>Provides RESTful services for phoenix using json</description>
    <servlet-class>sagex.phoenix.rest.ServiceServlet</servlet-class>
  </servlet>

  <!--  Fanart services -->
  <servlet>
    <servlet-name>fanart</servlet-name>
    <display-name>fanart</display-name>
    <description>Provider Images for Phoenix REST Media</description>
    <servlet-class>sagex.phoenix.rest.FanartServlet</servlet-class>
  </servlet>

  <!-- Custom Video Servlet -->
  <servlet>
    <servlet-name>customvideos</servlet-name>
    <display-name>customvideos</display-name>
    <description>Custom Videos Servlet</description>
    <servlet-class>sagex.phoenix.rest.CustomVideoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>customvideos</servlet-name>
    <url-pattern>customvideos</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>view</servlet-name>
    <url-pattern>view</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>videothumbnail</servlet-name>
    <url-pattern>videothumbnail</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>sage</servlet-name>
    <url-pattern>/bmtweb/sage</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>media</servlet-name>
    <url-pattern>/media/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>preferences</servlet-name>
    <url-pattern>/bmtweb/preferences</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>filechooser</servlet-name>
    <url-pattern>/bmtweb/filechooser</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>phoenixconfig</servlet-name>
    <url-pattern>/bmtweb/phoenixconfig</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>status</servlet-name>
    <url-pattern>/bmtweb/status</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>databrowser</servlet-name>
    <url-pattern>/bmtweb/databrowser</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>browsing</servlet-name>
    <url-pattern>/bmtweb/browsing</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>debug</servlet-name>
    <url-pattern>/bmtweb/debug</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>global</servlet-name>
    <url-pattern>/bmtweb/global</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>sageapi</servlet-name>
    <url-pattern>/bmtweb/sageapi/*</url-pattern>
  </servlet-mapping>
  
  <!-- JSON Services -->
  <servlet-mapping>
    <servlet-name>json</servlet-name>
    <url-pattern>/json/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>fanart</servlet-name>
    <url-pattern>/fanart/*</url-pattern>
  </servlet-mapping>
    
</web-app>
